@import "tailwindcss";

@font-face {
  font-family: 'DM Sans';
  src: url('@/assets/fonts/dmsans.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('@/assets/fonts/inter.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-heading: 'DM Sans', sans-serif;
  --font-body: 'Inter', sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #F8F7FF;
  color: #26215C;
}